<form (submit)="guardarCambios()" [formGroup] = "form">
    <mat-form-field appearance = "outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName = "nombre" matInput />
        <mat-error *ngIf="form.invalid">Ingrese un nombre valido</mat-error>
    </mat-form-field>

    <mat-form-field appearance = "outline">
        <mat-label>Apellido*</mat-label>
        <input formControlName = "apellido" matInput />
        <mat-error *ngIf="form.invalid">{{obtenerErrorCampoNombre}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance = "outline">
        <mat-label>Correo Electronico*</mat-label>
        <input formControlName = "correo_electronico" matInput />
        <mat-error *ngIf="form.invalid"> Ingrese un email valido</mat-error>
    </mat-form-field>

    <mat-form-field appearance = "outline">
        <mat-label>Fecha de Nacimiento*</mat-label>
        <input formControlName = "fecha_nacimiento" matInput [matDatepicker]="picker" />
        <mat-hint>YYYY/MM/DD</mat-hint>
        <mat-error *ngIf="form.invalid">{{obtenerErrorCampoNombre}}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance = "outline">
        <mat-label>Telefono*</mat-label>
        <input formControlName = "telefono" matInput />
        <mat-error *ngIf="form.invalid">{{obtenerErrorCampoNombre}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance = "outline">
        <mat-label>Pais*</mat-label>
        <input formControlName = "pais" matInput />
        <mat-error *ngIf="form.invalid">{{obtenerErrorCampoNombre}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance = "outline">
        <mat-label>¿Desea recibir información?</mat-label>
        <mat-select formControlName = "contactar">
            <mat-option [value]=0>NO</mat-option>
            <mat-option [value]=1>SI</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-flat-button color = "primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/usuarios">
            Cancelar
        </a>
    </div>
</form>