<h1>Actividades</h1>

<table 
    *ngIf="actividades.length > 0"
    mat-table
    [dataSource] = "actividades"
    class="mat-elevation-z8"
    >
    
    <ng-container matColumnDef  ="Fecha de Actividad">
        <th mat-header-cell *matHeaderCellDef>Fecha de Actividad</th>
        <td mat-cell *matCellDef="let element">
            {{element.fecha_actividad | date: 'yyyy/MM/dd' }}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Nombre Completo">
        <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
        <td mat-cell *matCellDef="let element">
            {{element.nombre +" "+ element.apellido }}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Detalle de Actividad">
        <th mat-header-cell *matHeaderCellDef>Detalle de Actividad</th>
        <td mat-cell *matCellDef="let element">
            {{element.actividad}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
    <tr mat-row *matRowDef=" let row; columns: columnasAMostrar"></tr>

</table>
