<h1>Usuarios</h1>

<button mat-flat-button color = "primary" routerLink="/usuarios/crear">Crear nuevo</button>


<table 
    *ngIf="usuarios.length > 0"
    mat-table
    [dataSource] = "usuarios"
    class="mat-elevation-z8"
    >

    <ng-container matColumnDef  ="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
            {{element.nombre}}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">
            {{element.apellido}}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Correo Electronico">
        <th mat-header-cell *matHeaderCellDef>Correo Electronico</th>
        <td mat-cell *matCellDef="let element">
            {{element.correo_electronico}}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Fecha de Nacimiento">
        <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
        <td mat-cell *matCellDef="let element">
            {{element.fecha_nacimiento | date: 'yyyy/MM/dd' }}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Telefono">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let element">
            {{element.telefono}}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Pais de Residencia">
        <th mat-header-cell *matHeaderCellDef>Pais de Residencia</th>
        <td mat-cell *matCellDef="let element">
            {{element.pais}}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Contactar">
        <th mat-header-cell *matHeaderCellDef>Contactar</th>
        <td mat-cell *matCellDef="let element">
            {{element.contactar | contactar}}
        </td>
    </ng-container>

    <ng-container matColumnDef  ="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button>
                <mat-icon>person_search</mat-icon>
            </button>

            <button mat-raised-button color="accent">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-raised-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
    <tr mat-row *matRowDef=" let row; columns: columnasAMostrar"></tr>

</table>